<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    
    <title>CURRICULUM VITAE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
      .body{
        margin-left:10%;
      }
      .iconDetails {
        
        float:left; 
        height:300px;
        width:400px; 
      } 
      .right{
        text-align: right;
        margin-right: 15%;
      }
      .roe{
        padding-top: 15%;
      }
    </style>
  </head>
  <body class="body">
    <section class="section has-text-container">
      <div class="CURRICULUM VITAE" style="text-align: center;"><h1><b>CURRICULUM VITAE</b></h1></div>
      <div class='container2'>
        <div class="left">
            <img src='static/amar.jpg' class='iconDetails'>
        </div>  
        <div class="right" >
          <h4>AMARNATH REDDY SURAPUREDDY</h4>
          <h5>#4, N.S.PALYA, BTM 2nd stage <br>                              
            SRINIDHI, BENGALURU - 560076 <br>
            9160660509<br>
            amarnathreddy0201@gmail.com 
            </h5>
          <!-- <div style="font-size:.7em;width:160px;float:left;">fine location, GPS, coarse location</div>
          <div style="float:right;font-size:.7em">0 mins ago</div> -->
        </div>
      </div>
      <div class="roe">
        <a class="button is-info is-outlined is-rounded" href="#">Contact</a>
      </div>
    
    </section>
    
    <section class="columns">
      <div class="column is-three-fifth has-background-light">
        <div class="columns">
          <div class="column is=half">
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">About</h1>
                <Ol>
                  <li></li>
                </Ol>
              </div>

            </div>
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">Interests</h1>
                <ol>
                  <li>Playing Ball badminton, Volleyball</li>
                  <li>Walking and Googling.</li>
                </ol>
              </div>
            </div>
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">Strengths</h1>
                <ol>
                  <li>Positive Thinking</li>
                  <li>Self-motivation </li>
                  <li>Punctuality</li>
                  <li>Analytical Thinking</li>
                  <li>Leadership</li>
                  
                </ol>
              </div>

            </div>
          </div>
          <div class="column is=half">
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">Education</h1>
                <ol>
                  <li>Bachelor of Technology @AITS,Rajampet,2018,71.29%,EEE</li>
                  <li>Diploma @E.S.C.GOVT. POLYTECHNIC-NANDYAL,2015,81.11%,DEEE</li>
                  <lI>SSC @NAVABHARATH EM &TH HS,2012,9.0GPA</LI>
                </ol>
              </div>

            </div>
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">Experience</h1>
                <ol>
                  <li>Playing Ball badminton, Volleyball</li>
                  <li>Walking and Googling.</li>
                </ol>
              </div>
            </div>
            <div class="card m-3">
              <div class="card-content">
                <h1 class="title">Technical skills</h1>
                <ol>
                  <li>Programing languages  :  C, C++, Python, HTML, CSS, JavaScript. </li>
                  <li>Operating system      :  Linux, Windows.</li>
                  <li>Database              :  MySQL.</li>
                  <li>Version control       : GitHub,Bitbucket.</li>
                </ol>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="columns">
        <div class="column">
          <div class="card m-3">
            <div class="card-content">
              <h1 class="title">Important links</h1>
              <ol>
                <li>Linkedin   :  https://www.linkedin.com/in/amarnath-reddy-suarapureddy-6836881b7/</li>
                <li>GitHub     :  https://github.com/amarnathreddy0201</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>

  </body>
</html>